# Node
node_modules/
dist/
*.log

# Playwright
playwright-report/
*.trace
test-results
test-results/.last-run.json
allure-results/
allure-report/
.allure

# VSCode
.vscode/

# OS
.DS_Store

# Env
.env

strapi-config.ts
.env.local

